.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.text{
  font-size: 1.7em;
}
.title{
  font-size: 2.3em;
  font-weight: 600;
}
@media screen and (max-width:576px) {
  .title{
    font-size: 1.3em;
  }
}
